* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body {
    font-family:  'Lato', Arial, Helvetica, sans-serif;
    font-size : 14px;
    color : #a1b1bc;
    background-color: #fff;
}

a {
    text-decoration : none;
}
a :hover {
    text-decoration : none;
}

h2 {
    font-size : 36px;
    font-weight: 300;
    color :  #2c3e50;
}

.wrapper {
    width :1170px;
    margin : 0 auto;
}


/*-----------------------------------------------*/
/* Menu -----------------------------------------*/

nav {
    padding:20px;
    color:#2c3e50;
} 
ul{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    
}
 ul li {
    flex-grow : 1;
}

.logo {
    font-size : 35.69px;
    display:flex;
    
}
.logo img {
    padding:5px;
}
.logo span {
    font-weight:900;  

}

/*----------------------------------------*/
/*- Hero ---------------------------------*/

.hero {
    background-image: url(../img/hero.jpg);    
    background-size: cover;
    min-height:897px; /* TODO : Quitar cuando maquete lo de dentro*/
}


/*-----------------------------------------*/









/*- Seccion : Why Work With us ----**/
.content {
    padding:100px 0px;
    display :flex;
    flex-direction: row;
}

.content--left{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right:20px;
}
/*------------------------------------*/
/*-- Seccion empresas que usan thefox ----------*/
.brands {
    border-top : 1px solid #e9e9e9;
    padding:45px 0px;    
}

.brands li img {
    filter : grayscale(100%);
}
.brands li img:hover {
    filter : none;
}


/**-*/
/* - Seccion TheFox Design ------------**/


#social li {
    padding : 10px;
    font-size:24px;
}

#social li :hover {
    color:#1abc9c;
}

.content--right {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-width : 570px;
}

input[type="text"] {
    padding:20px;
    margin: 20px 0px;
    width:100%;
    border : 1px solid #dee6e6;
    border-radius:3px;
}

input[type="submit"] {
    width :100%;
    padding:20px 0px;
    border : none;
    border-radius :3px;
    background-color: #a1b1bc;
    font-weight: 900;
    font-size:16px;
    color:#fff;
    box-shadow: 1px 3px 0px 0px #81919b;
}
textarea {
    margin: 20px 0px;
    width:100%;
    border: 1px solid #dee6e6;
    border-radius: 3px;
    resize:none;
}
/* Call to Action ------------- */
.cta {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#fff;
    background-image: url('../img/cta-bg.jpg');
    min-height:502px;
}

.cta h2 {
    color:#fff;
    padding:20px;
}
.cta p {
    padding:10px;
}
button {
    padding :25px 20px;
}
/*******************************/
/*---------AUXILIARES ---------------------*/ 
/*TODO : BORRAR**/

.secc {
    min-height:  500px;
    background-color: #fff;
    border : 1px solid red;
    
}